In [7]:
import numpy as np
import pandas as pd
import lxml
import openpyxl

In [4]:
lentele = pd.read_html('https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm')
lentele[1].head()
salys = lentele[1]

In [8]:
salys.to_csv('salys.csv', index=False)
salys.to_excel('salys.xlsx', 'Sheet1', index=False)

In [9]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///salys.db')
salys.to_sql('salys', con=engine, index=False)

32

In [10]:
gaisrai = pd.read_csv('top_20_CA_wildfires.csv')
gaisrai.head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
3,Rush,Lightning,August,2012,Lassen,271911,0,0
4,Rim,Human Related,August,2013,Tuolumne,257314,112,0

In [11]:
len(gaisrai['cause'].unique())

5

In [12]:
gaisrai['cause'].value_counts()

cause
Human Related          7
Lightning              7
Powerlines             4
Under Investigation    1
Undetermined           1
Name: count, dtype: int64

In [13]:
gaisrai['year'].value_counts().idxmax()

2018

In [14]:
gaisrai['deaths'].value_counts().drop(0).sum()

10

In [15]:
gaisrai.sort_values('year', ascending=False).head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
15,Camp Fire,Powerlines,November,2018,Butte,153336,18804,85
6,Carr,Human Related,July,2018,"Shasta County,Trinity County",229651,1614,8
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
16,Rough,Lightning,July,2015,Fresno,151623,4,0

In [16]:
def months_to_nums(month):
    menesiai = {'January': 1,
     'February': 2,
     'March': 3,
     'April': 4,
      'May': 5,
      'June': 6,
      'July': 7,
      'August': 8,
      'September': 9,
      'October': 10,
      'November': 11,
      'December': 12}
    return menesiai[month]

In [17]:
months_to_nums('July')

7

In [ ]:
gaisrai['month'] = gaisrai['month'].apply(months_to_nums)
gaisrai.head()